:root {
	--dark: #3c4043;
	--darkest: rgba(0, 0, 0, 0.4);
	--light: #ffffff;
}

#new-task-form {
	display: flex;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--light);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: black;
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--dark);
}

#new-task-submit {
	color: var(--dark);
	font-size: 1.25rem;
	font-weight: 700;
    background-color: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    background-clip: text;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit {
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.25rem;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

.todo {
	flex: 1 1 0%;
	max-width: 800px;
	margin: auto;
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}

#todo-list-header {
	text-decoration: underline;
	font-size: 3rem;
	text-align: center;
}

#taskinput {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
    text-decoration: underline;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .taskcontent {
	flex: 1 1 0%;
}

.task .taskcontent .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task > .content > .text {
    background-color: var(--darker);
    color: white;
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	color: white;
    background-color: var(--darkest);
    border-radius: 10px;
    padding: 10px;
}

.task .actions .delete {
	background-color: var(--darkest);
    color: white;
    border-radius: 10px;
    padding: 10px;
}